@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

:root{
    --primary-color: #CEB786;
    --secundary-color: #40210D;
    --font: 'IM Fell French Canon', serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

.card-link{
    text-decoration: none;
    color: inherit
}

.header{
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 60px;
    margin-left: -10rem;
}
.logo:hover{
    transform: scale(1.15);
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 670px;
    height: 112px;
}

.main{
    background-color: var(--primary-color);
    padding: 17rem;
}

.main-historia{
    background-image:url(imgs/img-igreja-tres.jpeg) ;
    padding: 17rem;
    background-position: center;
}

.img-home{
    width: 140px;
    height: 150px;
}

.grid-cards{
    display: flex;
    justify-content: space-around;
}

.card{
    padding: auto;
}
.card:hover{
    transform: scale(1.15);
}

.card-titulo{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.footer{
    background-color: var(--secundary-color);
    padding: 2.5rem;
}

.grid-paginas{
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: var(--segundary-color);
    
}

.paginas{
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 7px;
    text-decoration: none;
    color: inherit;
}
.paginas:hover{
    transform: scale(1.05);
}

.contato{
    color: var(--primary-color);
    margin-top: 0.5rem;
    
}


.titulo-pag{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
    color: var(--secundary-color);
}

.assunto{
    display: flex;
    justify-content: center;
}

.img-igreja{
    width: 400px;
    margin-right: 3rem;
    border-radius: 10px;
}

.informativo{
color: var(--secundary-color);
}



.pomba{
    width: 100px;
    margin-bottom: 1rem;
}

.assunto-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.img-horarios{
    width: 300px;
    border-radius: 10px;
}


.text-box{
    padding: 2rem;
    background-color: #CEB786;
    border-radius: 10px;
}

.text-box-tile{
    padding: 2rem;
    background-color: #CEB786;
    border-radius: 10px;
    max-width: 20rem;
    display: flex;
    margin: 0 auto;
}


.projeto-img{
    margin: 0;
    height: 500px;
}

.main-projetos{
    padding: 10rem;
}